USE [Hankyo]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[answerID] [int] IDENTITY(1,1) NOT NULL,
	[questionID] [int] NULL,
	[answerText] [nvarchar](max) NULL,
	[isCorrect] [bit] NULL,
	[option_label] [varchar](1) NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[answerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assigment]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assigment](
	[assignmentID] [int] IDENTITY(1,1) NOT NULL,
	[questionID] [int] NULL,
	[answerID] [int] NULL,
	[createAt] [timestamp] NULL,
	[title] [varchar](50) NULL,
	[time] [time](3) NULL,
	[media] [text] NULL,
 CONSTRAINT [PK_Assigment] PRIMARY KEY CLUSTERED 
(
	[assignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](max) NULL,
	[sendAt] [timestamp] NULL,
	[senderID] [int] NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [int] IDENTITY(1,1) NOT NULL,
	[expertID] [int] NULL,
	[title] [varchar](50) NULL,
	[content;] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[price] [decimal](10, 2) NULL,
	[createdAt] [timestamp] NULL,
	[updateAt] [datetime] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_Content]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_Content](
	[video] [varchar](max) NULL,
	[description] [varchar](max) NULL,
	[assignmentID] [int] NULL,
	[image] [varchar](max) NULL,
	[courseID] [int] NULL,
	[examID] [int] NULL,
	[course_contentID] [int] NOT NULL,
 CONSTRAINT [PK_Course_Content] PRIMARY KEY CLUSTERED 
(
	[course_contentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_Paid]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_Paid](
	[courseID] [int] NOT NULL,
	[payID] [int] NOT NULL,
	[numOfPaid] [int] NULL,
	[datePaid] [timestamp] NULL,
	[course_paidID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Course_Paid] PRIMARY KEY CLUSTERED 
(
	[course_paidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dictionary]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionary](
	[wordID] [int] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](50) NULL,
	[definition] [text] NULL,
	[type] [varchar](50) NULL,
	[pronunciation] [varchar](max) NULL,
	[example_sentence] [text] NULL,
	[synonyms] [text] NULL,
	[antonyms] [text] NULL,
	[dateAdded] [timestamp] NULL,
 CONSTRAINT [PK_Dictionary] PRIMARY KEY CLUSTERED 
(
	[wordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentary]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentary](
	[docID] [int] NOT NULL,
	[title] [nvarchar](50) NULL,
	[source] [varchar](max) NULL,
	[doc_content] [nvarchar](max) NULL,
	[type] [varchar](20) NULL,
	[dateCreated] [timestamp] NULL,
 CONSTRAINT [PK_Documentary] PRIMARY KEY CLUSTERED 
(
	[docID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[learnerID] [int] NULL,
	[courseID] [int] NULL,
	[enrollID] [int] IDENTITY(1,1) NOT NULL,
	[enrollDate] [timestamp] NULL,
	[status] [varchar](10) NULL,
	[numOfTaken] [int] NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[enrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[examID] [int] IDENTITY(1,1) NOT NULL,
	[expertID] [int] NULL,
	[description] [varchar](255) NULL,
	[dateCreate] [timestamp] NULL,
	[numCompleted] [int] NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[examID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Contents]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Contents](
	[examID] [int] NOT NULL,
	[orderIndex] [int] NULL,
	[questionID] [int] NULL,
	[answerID] [int] NULL,
	[description] [nvarchar](max) NULL,
	[mark] [float] NULL,
	[eContentID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Exam_Contents] PRIMARY KEY CLUSTERED 
(
	[eContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Result]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Result](
	[resultID] [int] IDENTITY(1,1) NOT NULL,
	[examTakenID] [int] NULL,
	[learnerID] [int] NULL,
	[dateTaken] [timestamp] NULL,
	[mark] [float] NULL,
	[correct] [int] NULL,
	[incorrect] [int] NULL,
	[totalTime] [time](7) NULL,
 CONSTRAINT [PK_Exam_Result] PRIMARY KEY CLUSTERED 
(
	[resultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Excercise]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Excercise](
	[excerciseID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NULL,
	[excerciseTitle] [nvarchar](50) NULL,
	[dateCreated] [timestamp] NULL,
 CONSTRAINT [PK_Excercise] PRIMARY KEY CLUSTERED 
(
	[excerciseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Excercise_Question]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Excercise_Question](
	[exQuestID] [int] IDENTITY(1,1) NOT NULL,
	[questionID] [int] NULL,
	[answerID] [int] NULL,
	[orderIndex] [int] NULL,
	[description] [text] NULL,
	[excerciseID] [int] NULL,
 CONSTRAINT [PK_Excercise_Question] PRIMARY KEY CLUSTERED 
(
	[exQuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Excercise_Result]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Excercise_Result](
	[exResultID] [int] IDENTITY(1,1) NOT NULL,
	[excerciseID] [int] NULL,
	[learnerID] [int] NULL,
	[review] [text] NULL,
	[dateCreated] [timestamp] NULL,
 CONSTRAINT [PK_Excercise_Result] PRIMARY KEY CLUSTERED 
(
	[exResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expert]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expert](
	[expertID] [int] IDENTITY(1,1) NOT NULL,
	[certificate] [varchar](max) NULL,
	[honourID] [int] NULL,
 CONSTRAINT [PK_Expert] PRIMARY KEY CLUSTERED 
(
	[expertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpertRevenue]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpertRevenue](
	[eRevenueID] [int] IDENTITY(1,1) NOT NULL,
	[totalRevenue] [decimal](15, 2) NOT NULL,
	[commisson] [decimal](10, 2) NOT NULL,
	[courseID] [int] NOT NULL,
	[eShare] [decimal](10, 2) NOT NULL,
	[coShare] [decimal](10, 2) NOT NULL,
	[createdAt] [timestamp] NOT NULL,
	[expertID] [int] NULL,
 CONSTRAINT [PK_ExpertRevenue] PRIMARY KEY CLUSTERED 
(
	[eRevenueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[description] [varchar](max) NULL,
	[dateCreate] [timestamp] NOT NULL,
	[FType] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashCard]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashCard](
	[FCID] [int] IDENTITY(1,1) NOT NULL,
	[learnerID] [int] NULL,
	[vocabID] [int] NULL,
 CONSTRAINT [PK_FlashCard] PRIMARY KEY CLUSTERED 
(
	[FCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumPost]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumPost](
	[postID] [int] IDENTITY(1,1) NOT NULL,
	[posterID] [int] NULL,
	[upVote] [int] NULL,
	[downVote] [int] NULL,
	[dateCreate] [timestamp] NULL,
	[title] [varchar](255) NULL,
	[content] [nvarchar](max) NULL,
 CONSTRAINT [PK_ForumPost] PRIMARY KEY CLUSTERED 
(
	[postID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Honour]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Honour](
	[honourID] [int] IDENTITY(1,1) NOT NULL,
	[honourName] [nvarchar](50) NULL,
	[honour_img] [text] NULL,
	[honour_type] [varchar](50) NULL,
 CONSTRAINT [PK_Honour] PRIMARY KEY CLUSTERED 
(
	[honourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learner]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learner](
	[learnerID] [int] IDENTITY(1,1) NOT NULL,
	[HankyoPoint] [int] NULL,
	[honourID] [int] NULL,
 CONSTRAINT [PK_Learner] PRIMARY KEY CLUSTERED 
(
	[learnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notice_User]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notice_User](
	[noticeID] [int] NULL,
	[userID] [int] NULL,
	[message] [text] NULL,
	[noticeDate] [timestamp] NULL,
	[notice_userID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Notice_User] PRIMARY KEY CLUSTERED 
(
	[notice_userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[noticeID] [int] IDENTITY(1,1) NOT NULL,
	[message] [text] NULL,
	[dateCreate] [timestamp] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[noticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[description] [varchar](100) NULL,
	[payDate] [timestamp] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[payID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[questionID] [int] IDENTITY(1,1) NOT NULL,
	[questionText] [nvarchar](max) NULL,
	[questionImg] [varchar](max) NULL,
	[audio_file] [varchar](max) NULL,
	[questionType] [varchar](50) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[reportID] [int] IDENTITY(1,1) NOT NULL,
	[reporterID] [int] NULL,
	[reportedUserID] [int] NULL,
	[reportTypeID] [int] NULL,
	[reason] [varchar](max) NULL,
	[messageID] [int] NULL,
	[postID] [int] NOT NULL,
	[reportDate] [timestamp] NULL,
	[status] [varchar](10) NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[reportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[reportTypeID] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [varchar](10) NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[reportTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revenue]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revenue](
	[revenueID] [int] IDENTITY(1,1) NOT NULL,
	[total] [decimal](15, 2) NULL,
	[source] [varchar](50) NULL,
	[payID] [int] NULL,
	[createdAt] [timestamp] NULL,
 CONSTRAINT [PK_Revenue] PRIMARY KEY CLUSTERED 
(
	[revenueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reward]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reward](
	[rewardID] [int] IDENTITY(1,1) NOT NULL,
	[icon] [text] NULL,
	[title] [nvarchar](50) NULL,
	[learnerID] [int] NOT NULL,
	[dateCreated] [timestamp] NULL,
 CONSTRAINT [PK_Reward] PRIMARY KEY CLUSTERED 
(
	[rewardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[courseID] [int] NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[status] [varchar](10) NULL,
	[scheduleID] [int] IDENTITY(1,1) NOT NULL,
	[day_of_week] [nvarchar](50) NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[scheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](70) NULL,
	[password] [varchar](255) NULL,
	[gmail] [varchar](50) NULL,
	[phone] [varchar](10) NULL,
	[role] [varchar](20) NULL,
	[status] [varchar](10) NULL,
	[fullName] [nvarchar](50) NULL,
	[socialID] [varchar](100) NULL,
	[dateCreate] [timestamp] NULL,
	[gender] [varchar](10) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VipDetails]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VipDetails](
	[vipID] [int] IDENTITY(1,1) NOT NULL,
	[learnerID] [int] NULL,
	[createAt] [timestamp] NOT NULL,
	[vipType] [varchar](15) NULL,
	[endDate] [date] NULL,
	[status] [varchar](10) NULL,
 CONSTRAINT [PK_VipDetails] PRIMARY KEY CLUSTERED 
(
	[vipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vocabulary]    Script Date: 2/17/2025 9:41:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vocabulary](
	[vocabID] [int] IDENTITY(1,1) NOT NULL,
	[wordID] [int] NULL,
	[custom_definition] [text] NULL,
	[is_favorite] [bit] NULL,
	[learnerID] [int] NULL,
 CONSTRAINT [PK_Vocabulary] PRIMARY KEY CLUSTERED 
(
	[vocabID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([questionID])
REFERENCES [dbo].[Question] ([questionID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_User] FOREIGN KEY([senderID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_User]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Expert] FOREIGN KEY([expertID])
REFERENCES [dbo].[Expert] ([expertID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Expert]
GO
ALTER TABLE [dbo].[Course_Content]  WITH CHECK ADD  CONSTRAINT [FK_Course_Content_Assigment] FOREIGN KEY([assignmentID])
REFERENCES [dbo].[Assigment] ([assignmentID])
GO
ALTER TABLE [dbo].[Course_Content] CHECK CONSTRAINT [FK_Course_Content_Assigment]
GO
ALTER TABLE [dbo].[Course_Content]  WITH CHECK ADD  CONSTRAINT [FK_Course_Content_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Course_Content] CHECK CONSTRAINT [FK_Course_Content_Course]
GO
ALTER TABLE [dbo].[Course_Content]  WITH CHECK ADD  CONSTRAINT [FK_Course_Content_Exam] FOREIGN KEY([examID])
REFERENCES [dbo].[Exam] ([examID])
GO
ALTER TABLE [dbo].[Course_Content] CHECK CONSTRAINT [FK_Course_Content_Exam]
GO
ALTER TABLE [dbo].[Course_Paid]  WITH CHECK ADD  CONSTRAINT [FK_Course_Paid_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Course_Paid] CHECK CONSTRAINT [FK_Course_Paid_Course]
GO
ALTER TABLE [dbo].[Course_Paid]  WITH CHECK ADD  CONSTRAINT [FK_Course_Paid_Payment] FOREIGN KEY([payID])
REFERENCES [dbo].[Payment] ([payID])
GO
ALTER TABLE [dbo].[Course_Paid] CHECK CONSTRAINT [FK_Course_Paid_Payment]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Course]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Learner]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Expert] FOREIGN KEY([expertID])
REFERENCES [dbo].[Expert] ([expertID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Expert]
GO
ALTER TABLE [dbo].[Exam_Contents]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Contents_Answer] FOREIGN KEY([answerID])
REFERENCES [dbo].[Answer] ([answerID])
GO
ALTER TABLE [dbo].[Exam_Contents] CHECK CONSTRAINT [FK_Exam_Contents_Answer]
GO
ALTER TABLE [dbo].[Exam_Contents]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Contents_Exam] FOREIGN KEY([examID])
REFERENCES [dbo].[Exam] ([examID])
GO
ALTER TABLE [dbo].[Exam_Contents] CHECK CONSTRAINT [FK_Exam_Contents_Exam]
GO
ALTER TABLE [dbo].[Exam_Contents]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Contents_Question] FOREIGN KEY([questionID])
REFERENCES [dbo].[Question] ([questionID])
GO
ALTER TABLE [dbo].[Exam_Contents] CHECK CONSTRAINT [FK_Exam_Contents_Question]
GO
ALTER TABLE [dbo].[Exam_Result]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Result_Exam] FOREIGN KEY([examTakenID])
REFERENCES [dbo].[Exam] ([examID])
GO
ALTER TABLE [dbo].[Exam_Result] CHECK CONSTRAINT [FK_Exam_Result_Exam]
GO
ALTER TABLE [dbo].[Exam_Result]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Result_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[Exam_Result] CHECK CONSTRAINT [FK_Exam_Result_Learner]
GO
ALTER TABLE [dbo].[Excercise]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Excercise] CHECK CONSTRAINT [FK_Excercise_Course]
GO
ALTER TABLE [dbo].[Excercise_Question]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_Question_Answer] FOREIGN KEY([answerID])
REFERENCES [dbo].[Answer] ([answerID])
GO
ALTER TABLE [dbo].[Excercise_Question] CHECK CONSTRAINT [FK_Excercise_Question_Answer]
GO
ALTER TABLE [dbo].[Excercise_Question]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_Question_Excercise] FOREIGN KEY([excerciseID])
REFERENCES [dbo].[Excercise] ([excerciseID])
GO
ALTER TABLE [dbo].[Excercise_Question] CHECK CONSTRAINT [FK_Excercise_Question_Excercise]
GO
ALTER TABLE [dbo].[Excercise_Question]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_Question_Question] FOREIGN KEY([questionID])
REFERENCES [dbo].[Question] ([questionID])
GO
ALTER TABLE [dbo].[Excercise_Question] CHECK CONSTRAINT [FK_Excercise_Question_Question]
GO
ALTER TABLE [dbo].[Excercise_Result]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_Result_Excercise] FOREIGN KEY([excerciseID])
REFERENCES [dbo].[Excercise] ([excerciseID])
GO
ALTER TABLE [dbo].[Excercise_Result] CHECK CONSTRAINT [FK_Excercise_Result_Excercise]
GO
ALTER TABLE [dbo].[Excercise_Result]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_Result_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[Excercise_Result] CHECK CONSTRAINT [FK_Excercise_Result_Learner]
GO
ALTER TABLE [dbo].[Expert]  WITH CHECK ADD  CONSTRAINT [FK_Expert_Honour] FOREIGN KEY([honourID])
REFERENCES [dbo].[Honour] ([honourID])
GO
ALTER TABLE [dbo].[Expert] CHECK CONSTRAINT [FK_Expert_Honour]
GO
ALTER TABLE [dbo].[ExpertRevenue]  WITH CHECK ADD  CONSTRAINT [FK_ExpertRevenue_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[ExpertRevenue] CHECK CONSTRAINT [FK_ExpertRevenue_Course]
GO
ALTER TABLE [dbo].[ExpertRevenue]  WITH CHECK ADD  CONSTRAINT [FK_ExpertRevenue_Expert] FOREIGN KEY([expertID])
REFERENCES [dbo].[Expert] ([expertID])
GO
ALTER TABLE [dbo].[ExpertRevenue] CHECK CONSTRAINT [FK_ExpertRevenue_Expert]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[FlashCard]  WITH CHECK ADD  CONSTRAINT [FK_FlashCard_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[FlashCard] CHECK CONSTRAINT [FK_FlashCard_Learner]
GO
ALTER TABLE [dbo].[FlashCard]  WITH CHECK ADD  CONSTRAINT [FK_FlashCard_Vocabulary] FOREIGN KEY([vocabID])
REFERENCES [dbo].[Vocabulary] ([vocabID])
GO
ALTER TABLE [dbo].[FlashCard] CHECK CONSTRAINT [FK_FlashCard_Vocabulary]
GO
ALTER TABLE [dbo].[ForumPost]  WITH CHECK ADD  CONSTRAINT [FK_ForumPost_User] FOREIGN KEY([posterID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[ForumPost] CHECK CONSTRAINT [FK_ForumPost_User]
GO
ALTER TABLE [dbo].[Learner]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Honour] FOREIGN KEY([honourID])
REFERENCES [dbo].[Honour] ([honourID])
GO
ALTER TABLE [dbo].[Learner] CHECK CONSTRAINT [FK_Learner_Honour]
GO
ALTER TABLE [dbo].[Notice_User]  WITH CHECK ADD  CONSTRAINT [FK_Notice_User_Notification] FOREIGN KEY([noticeID])
REFERENCES [dbo].[Notification] ([noticeID])
GO
ALTER TABLE [dbo].[Notice_User] CHECK CONSTRAINT [FK_Notice_User_Notification]
GO
ALTER TABLE [dbo].[Notice_User]  WITH CHECK ADD  CONSTRAINT [FK_Notice_User_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Notice_User] CHECK CONSTRAINT [FK_Notice_User_User]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Question] FOREIGN KEY([questionID])
REFERENCES [dbo].[Question] ([questionID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Question]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Chat] FOREIGN KEY([messageID])
REFERENCES [dbo].[Chat] ([messageID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Chat]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ForumPost] FOREIGN KEY([postID])
REFERENCES [dbo].[ForumPost] ([postID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ForumPost]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ReportType] FOREIGN KEY([reportTypeID])
REFERENCES [dbo].[ReportType] ([reportTypeID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ReportType]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User] FOREIGN KEY([reporterID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_User]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User1] FOREIGN KEY([reportedUserID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_User1]
GO
ALTER TABLE [dbo].[Revenue]  WITH CHECK ADD  CONSTRAINT [FK_Revenue_Payment] FOREIGN KEY([payID])
REFERENCES [dbo].[Payment] ([payID])
GO
ALTER TABLE [dbo].[Revenue] CHECK CONSTRAINT [FK_Revenue_Payment]
GO
ALTER TABLE [dbo].[Reward]  WITH CHECK ADD  CONSTRAINT [FK_Reward_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[Reward] CHECK CONSTRAINT [FK_Reward_Learner]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Course]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Expert] FOREIGN KEY([userID])
REFERENCES [dbo].[Expert] ([expertID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Expert]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Learner] FOREIGN KEY([userID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Learner]
GO
ALTER TABLE [dbo].[VipDetails]  WITH CHECK ADD  CONSTRAINT [FK_VipDetails_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[VipDetails] CHECK CONSTRAINT [FK_VipDetails_Learner]
GO
ALTER TABLE [dbo].[Vocabulary]  WITH CHECK ADD  CONSTRAINT [FK_Vocabulary_Dictionary] FOREIGN KEY([wordID])
REFERENCES [dbo].[Dictionary] ([wordID])
GO
ALTER TABLE [dbo].[Vocabulary] CHECK CONSTRAINT [FK_Vocabulary_Dictionary]
GO
ALTER TABLE [dbo].[Vocabulary]  WITH CHECK ADD  CONSTRAINT [FK_Vocabulary_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[Vocabulary] CHECK CONSTRAINT [FK_Vocabulary_Learner]
GO
