USE [Hankyo﻿]
GO
/****** Object:  Table [dbo].[CustomFlashCard]    Script Date: 4/17/2025 12:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomFlashCard](
	[CFCID] [int] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](50) NULL,
	[mean] [nvarchar](50) NULL,
	[learnerID] [int] NULL,
	[topic] [nvarchar](50) NULL,
	[isPublic] [bit] NULL,
 CONSTRAINT [PK_CustomFlashCard] PRIMARY KEY CLUSTERED 
(
	[CFCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dictionary]    Script Date: 4/17/2025 12:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionary](
	[wordID] [int] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](50) NULL,
	[mean] [nvarchar](50) NULL,
	[type] [nchar](10) NULL,
	[definition] [nvarchar](max) NULL,
 CONSTRAINT [PK_Dictionary] PRIMARY KEY CLUSTERED 
(
	[wordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favoriteFlashCard]    Script Date: 4/17/2025 12:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favoriteFlashCard](
	[FCID] [int] IDENTITY(1,1) NOT NULL,
	[learnerID] [int] NULL,
	[wordID] [int] NULL,
	[nameOfList] [nvarchar](50) NULL,
 CONSTRAINT [PK_favoriteFlashCard] PRIMARY KEY CLUSTERED 
(
	[FCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Newspaper]    Script Date: 4/17/2025 12:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newspaper](
	[newspaperID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[content] [nvarchar](max) NULL,
	[pictureFilePath] [nvarchar](50) NULL,
 CONSTRAINT [PK_Newspaper] PRIMARY KEY CLUSTERED 
(
	[newspaperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newspaperAnswer]    Script Date: 4/17/2025 12:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newspaperAnswer](
	[newspaperAnswer] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewspaperQuestion]    Script Date: 4/17/2025 12:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewspaperQuestion](
	[newspaperQuestionID] [int] NOT NULL,
	[newspaperID] [int] NULL,
 CONSTRAINT [PK_NewspaperQuestion] PRIMARY KEY CLUSTERED 
(
	[newspaperQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemFlashCard]    Script Date: 4/17/2025 12:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemFlashCard](
	[SFCID] [int] IDENTITY(1,1) NOT NULL,
	[wordID] [int] NULL,
	[topic] [nvarchar](50) NULL,
 CONSTRAINT [PK_SystemFlashCard] PRIMARY KEY CLUSTERED 
(
	[SFCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomFlashCard]  WITH CHECK ADD  CONSTRAINT [FK_CustomFlashCard_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[CustomFlashCard] CHECK CONSTRAINT [FK_CustomFlashCard_Learner]
GO
ALTER TABLE [dbo].[favoriteFlashCard]  WITH CHECK ADD  CONSTRAINT [FK_favoriteFlashCard_Dictionary] FOREIGN KEY([wordID])
REFERENCES [dbo].[Dictionary] ([wordID])
GO
ALTER TABLE [dbo].[favoriteFlashCard] CHECK CONSTRAINT [FK_favoriteFlashCard_Dictionary]
GO
ALTER TABLE [dbo].[favoriteFlashCard]  WITH CHECK ADD  CONSTRAINT [FK_favoriteFlashCard_Learner] FOREIGN KEY([learnerID])
REFERENCES [dbo].[Learner] ([learnerID])
GO
ALTER TABLE [dbo].[favoriteFlashCard] CHECK CONSTRAINT [FK_favoriteFlashCard_Learner]
GO
ALTER TABLE [dbo].[NewspaperQuestion]  WITH CHECK ADD  CONSTRAINT [FK_NewspaperQuestion_Newspaper] FOREIGN KEY([newspaperID])
REFERENCES [dbo].[Newspaper] ([newspaperID])
GO
ALTER TABLE [dbo].[NewspaperQuestion] CHECK CONSTRAINT [FK_NewspaperQuestion_Newspaper]
GO
ALTER TABLE [dbo].[SystemFlashCard]  WITH CHECK ADD  CONSTRAINT [FK_SystemFlashCard_Dictionary] FOREIGN KEY([wordID])
REFERENCES [dbo].[Dictionary] ([wordID])
GO
ALTER TABLE [dbo].[SystemFlashCard] CHECK CONSTRAINT [FK_SystemFlashCard_Dictionary]
GO
