/* Reset margin và padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    background-color: #f8f8f8;
   position: sticky;
}

.logo {
    grid-column: 1 / 3;
    justify-self: start;
    width: 50px;
}

.navbarContainer {
    grid-column: 4 / 10;
    display: flex;
    justify-content: space-between;
}

.navbarContent a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 10px 15px;
    transition: 0.3s;
}

.navbarContent a:hover {
    color: #007BFF;
}

.footer {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.footer-heading {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.footer-link {
    font-size: 16px;
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover {
    color: #000;
}

/* Logo trong footer */
.footer-logo {
    width: 100px;
    height: auto;
}

/* Responsive: Footer luôn giữ ngang khi đủ chỗ */
/*@media (max-width: 768px) {*/
/*    .footer .row {*/
/*        text-align: center;*/
/*    }*/
/*}*/
