/* Đảm bảo trang chiếm toàn bộ chiều cao */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url('../Asset/PNG/background.png'); /* Thay bằng đường dẫn đúng */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


/* Container chính */
.container-fluid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 40px;
    padding: 20px;
    margin-right: 250px;
    margin-bottom: 140px

}

/* Form đăng ký */
.signUp-form {
    grid-column: 8/12;
    /*width: 500px;*/
    /*max-height: 650px;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 40px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-left: auto;
}
.form-group{
    display: flex;
    gap: 10px;
    align-items: center;
}


/* Định dạng input */
.signUp-form .input {
    width: 100%;
    margin-bottom: 5px;
}

.signUp-form input {
    width: 160%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    background-color: #fff;
    color: #333;
}

/* Định dạng button */
.signUp-form button {
    width: 100%;
    padding: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.signUp-form button:hover {
    background-color: #0056b3;

}

.gender-selection {
    display: flex;
    flex-direction: column; /* Chia thành 2 dòng */
    align-items: center;
    gap: 5px; /* Khoảng cách giữa dòng label và radio buttons */
    margin-left:220px;
}

.gender-labels {
    display: flex;
    justify-content: center;
    gap: 40px; /* Điều chỉnh khoảng cách giữa "Male" và "Female" */
    font-weight: bold;
}

.gender-radios {
    display: flex;
    justify-content: center;
    gap: 50px; /* Điều chỉnh khoảng cách giữa 2 radio */
}
