*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginBtn{
    background-color: #B4EBE6;
    border-radius: 10px;
}
.registerBtn{
    background-color: #F8ED8C;
    border-radius: 10px;
}
header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    background-color: #f8f8f8;
    position: sticky;
    padding: 10px 5px;
}

.logo {
    grid-column: 1 / 3;
    justify-self: start;
    width: 50px;
}
.navbarContainer {
    grid-column: 4 / 13;
    display: flex;
    justify-content: space-between;
}

.navbarContent a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 10px 15px;
    transition: 0.3s;
}

.navbarContent a:hover {
    color: #007BFF;
}
