body {
    overflow-x: hidden;
}
.container-fluid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.isHidden {
    visibility: hidden;
}
.isHidden.show {
    visibility: visible;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
/* Form đăng ký */
.signUp-form {
    width: 90%;
    margin-bottom: 50px;
    margin-top: 30px;
    grid-column: 8/12;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    height: 80%;
}
.button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
/* Định dạng input */
.signUp-form .input {
    width: 100%;
    margin-bottom: 5px;
}
.signUp-form input {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 4rem 0.5rem 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}
.loginGirl {
    margin-top: 2rem;
    grid-column: 2/7;
}
.loginGirl img {
    width: 90%;
}
.signUp-form h2 {
    display: block;
    margin: 0 auto;
}
/* Định dạng button */
.signUp-form button {
    width: 50%;
    padding: 0.5rem 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background 0.3s ease;
    align-self: center;
}
.signUp-form button:hover {
    background-color: #0056b3;
}
.gender-selection {
    display: flex;
    gap: 20px;
    align-items: center;
}
.gender-selection label {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    cursor: pointer;
}