.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.containerSmall {
    text-align: center;
    width: 100%;
    max-width: 1200px;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
}
.flashcard {
    width: 700px;
    height: 500px;
    perspective: 1000px; /* Tạo không gian 3D cho hiệu ứng lật */
    cursor: pointer;
}
.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s; /* Thời gian chuyển động lật */
    transform-style: preserve-3d; /* Giữ hiệu ứng 3D */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.flashcard-front, .flashcard-back {
    font-size: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ẩn mặt sau khi lật */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.flashcard-front {
    background-color: #FED2E2;
    color: white;

    font-size: 40px;
    font-weight: bold;
}
.flashcard-back {
    background-color: #B4EBE6;
    color: #333;
    transform: rotateY(180deg); /* Mặt sau xoay 180 độ ban đầu */
    font-size: 40px;
}
.flipped {
    transform: rotateY(180deg); /* Khi thêm class này, lật 180 độ */
}
.no-data {
    font-size: 18px;
    color: #666;
}
.previousButton, .nextButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.previousButton:hover, .nextButton:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}
.previousButton:active, .nextButton:active {
    transform: scale(0.9);
}
.wordContainer {
    padding: 200px;
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.wordTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}
.wordTable th, .wordTable td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.wordTable th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.wordTable td {
    color: #333;
    font-size: 14px;
}
.wordTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
.wordTable tr:hover {
    background-color: #f1f1f1;
}
.wordTable tbody tr:last-child {
    border-bottom: none;
}