/* Phông chữ và căn chỉnh văn bản */
.text {
    white-space: pre-line;
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
}

/* Tiêu đề */
h2 {
    font-size: 35px;
    color: #0056b3;
    padding-bottom: 50px;
}

/* Bố cục chính */
.container {
    display: flex;
    display: grid;
    width: 100%;
    min-height: 100vh; /* Đảm bảo phủ hết màn hình */
    grid-template-columns: repeat(12, 1fr);
    gap: 20px; /* Thêm khoảng cách giữa các cột */
    padding: 20px;
}

/* Khu vực chứa nội dung chính */
.contentContainer {
    padding-left: 50px;
    grid-column: 1 / 8;
    max-width: 900px;

}

.questionContainer {
    position: sticky;
    top: 10px;
    padding: 1rem;
    width: 90%;
    height: 80vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 20px;
    grid-column: 8 / 13;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.question{
    padding-top: 15px;
}
.questionContainer input {
    margin-top: auto;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}
